/* misc start */

:root {
  --green-dark: #228b22;
  --green-light: #7cfc00;
  --orange-dark: #e0722e;
  --orange-dark-bg: #855214db;
  --orange-light: #ff9500;
  --orange-accent: #ff5900;
  --purple-dark: #4c004c;
  --purple-dark-bg: #660066da;
  --purple-light: #ff65fa;
  --black: #1a1a1a;
  --white: #f8f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;
  padding: 20px 0;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  background: url(../images/main-bg.png);
}

.error-text {
  color: red;
  font-size: 150%;
  text-decoration: underline;
}

header,
footer {
  border-radius: 10px;
}

.text-normal {
  color: var(--purple-light);
}

.ui-button {
  color: var(--orange-dark);
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.ui-button:hover {
  color: var(--orange-light);
}

.ui-button-important {
  color: var(--orange-dark);
  background-color: var(--orange-dark-bg);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.ui-button-important:hover {
  color: var(--orange-light);
  background-color: var(--orange-dark);
  transition: 0.3s;
}

/* misc end */

/* header styles start */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  padding: 10px 5%;

  background: var(--purple-dark-bg);
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-logo {
  height: 150px;
}

.header-button {
  color: var(--purple-light);
  font-size: 110%;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 6px;
  padding: 5px;
}

.header-button:hover {
  transition: 0.3s;
  background: var(--purple-light);
  color: var(--purple-dark);
}

.header-nav {
  display: flex;
  gap: 30px;
}

/* header styles end */

/* footer styles start */

footer {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 90%;
  height: 70px;
  padding: 10px 5%;

  background: var(--purple-dark-bg);
}

.footer-end {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 5%;
}

.github-link > .fa-github {
  font-size: 200%;
  color: var(--purple-light);
  transition: 0.3s;
  padding: 5px;
  border-radius: 8px;
}

.github-link > .fa-github:hover {
  transition: 0.3s;
  background-color: var(--purple-light);
  color: var(--purple-dark);
}

.authors {
  text-decoration: underline;
  color: var(--purple-light);
  font-size: 90%;
}

/* footer styles end */

/* main styles start */

main {
  width: 90%;
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* main styles end */

/* listing styles start */

.heading-text {
  font-size: 225%;
  color: var(--purple-light);
  align-self: flex-start;
}

.fiszkas-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.fiszka-set {
  width: fit-content;
  max-width: 30%;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background-color: var(--purple-dark);
  backdrop-filter: blur(4px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
}

.fiszka-set-name {
  color: var(--purple-light);
  font-size: 130%;
}

.view-fiszka {
  color: var(--purple-light);
  text-decoration: none;
  font-size: 110%;
  transition: 0.3s;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.view-fiszka:hover {
  color: var(--purple-dark);
  background-color: var(--purple-light);
}

.fiszka-set-text {
  color: rgb(255, 185, 253);
  font-weight: bold;
  text-align: center;
}

.fiszka-set-counter {
  align-self: start;
  color: var(--purple-light);
}

.fiszka-next,
.fiszka-prev {
  padding: 10px;
  margin: 10px;
  font-size: 130%;
}

.fiszka-next {
  background-color: var(--purple-dark);
  color: var(--purple-light);
  transition: 0.3s;
  border: none;
  outline: none;
}

.fiszka-next:hover {
  background-color: var(--purple-light);
  color: var(--purple-dark);
  transition: 0.3s;
  cursor: pointer;
}

.fiszka-prev {
  background-color: var(--purple-dark);
  color: var(--purple-light);
  transition: 0.3s;
  border: none;
  outline: none;
}

.fiszka-prev:hover {
  background-color: var(--purple-light);
  color: var(--purple-dark);
  transition: 0.3s;
  cursor: pointer;
}

.fiszka-next:disabled,
.fiszka-prev:disabled {
  background-color: #7a7a7a;
  color: rgb(74, 74, 74);
}

/* listing styles end */

/* form styles start */

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  max-width: fit-content;
  max-height: fit-content;

  background: var(--purple-dark-bg);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.form-input {
  padding: 10px;
  background: none;
  font-size: 125%;
  border: 2px solid var(--purple-dark);
  color: var(--purple-light);
  transition: 0.3s;
  outline: none;
  border-radius: 10px;
}

.form-input:focus {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
  transition: 0.3s;
  padding: 15px;
  border-radius: 10px;
}

.form-label {
  color: var(--purple-light);
}

.form-submit {
  border: none;
  background-color: var(--purple-dark);
  color: var(--purple-light);
  padding: 15px;
  transition: 0.3s;
}

.form-submit:hover {
  transition: 0.3s;
  cursor: pointer;
  font-size: 110%;
}

/* form styles end */

/* fiszka animation start */

/* Kontener główny */
.zestaw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  perspective: 1000px;
  margin: 20px auto;
  height: fit-content;
  min-height: 500px;
}

/* Wewnętrzny kontener animacji */
.zestaw-inner {
  min-width: 100%;
  height: fit-content;
  min-height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stan flipped */
.zestaw-inner.flipped {
  transform: rotateY(180deg);
}

/* Styl wspólny dla przodu i tyłu */
.pytanie,
.odpowiedz {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: var(--purple-light);
  backdrop-filter: blur(4px);
  color: var(--purple-dark);
  transition: opacity 0.3s, visibility 0.3s;
}

/* Domyślne stany */
.pytanie {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.odpowiedz {
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(180deg);
  background: var(--purple-dark);
  backdrop-filter: blur(4px);
  color: var(--purple-light);
}

/* Stany po flipnięciu */
.zestaw-inner.flipped .pytanie {
  display: none;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

.zestaw-inner.flipped .odpowiedz {
  display: flex;
  opacity: 1;
  visibility: visible;
  padding: 20px;
}

/* fiszka animation end */

/* hints styles start */

.hints {
  width: fit-content;
  height: fit-content;
}

.hints-inner {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #dbdbdb3d;
  border-radius: 10px;
  display: none;
}

.hint-text {
  color: var(--purple-light);
}

/* hints styles end */
